<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/property_management/static/style.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="/static/uploads/t.png" alt="ZURIPO Logo">
        </div>
        <h1>ZURIPO Property Specialists</h1>
    </header>

    <main>
        <div class="login-container">
            <h1>Login</h1>
            <form action="/login" method="POST">
                <div class="input-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>

                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <button type="submit" class="btn">Login</button>
            </form>
            <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
        </div>
    </main>

    <footer>
        <p>Location: Garden Estate, Off Northern Bypass, Nairobi</p>
        <p>Phone: +254 792 262 000 | Email: info@zuripoproperties.co.ke</p>
        <p>&copy; 2024 ZURIPO Property Specialists</p>
        <p>All Rights Reserved</p>
    </footer>
</body>
</html>
